<p id="notice"><%= notice %></p>
<% if current_user.has_role? :admin %>
  <h1>Scripts</h1>
<%else%>
  <h1>Your Scripts</h1>
<%end%>
<% if current_user.has_role? :admin %>
  <%= render '/scripts/dr_index'%>
<%else%>
  <%= render '/scripts/user_index'%>
<% end%>

<br>
