<div class="row align-items-center mt-5">
  <div class="col">
    <h1>About us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eu ultrices vitae auctor eu. Vel eros donec ac odio tempor. Morbi tristique senectus et netus et. Amet commodo nulla facilisi nullam vehicula ipsum a. Suspendisse potenti nullam ac tortor vitae purus faucibus. Enim tortor at auctor urna nunc. Ut aliquam purus sit amet luctus venenatis lectus magna. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Eget duis at tellus at. Massa eget egestas purus viverra accumsan. Ultrices sagittis orci a scelerisque purus. Eu sem integer vitae justo eget magna fermentum. Eget mauris pharetra et ultrices. Elit sed vulputate mi sit amet mauris commodo quis. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi.</p>
  </div>
  <div class="col">
    <%= image_tag 'doctor-character.jpg' %>
  </div>
</div>
