<div class="jumbotron jumbotron-fluid index">
  <div class="container">
    <h1 class="display-4">Prescription +</h1>
    <p class="lead">Keep your prescriptions safe and accessable </p>
  </div>
</div>