<div class="jumbotron jumbotron-fluid index">
  <div class="container">
    <h1 class="display-4">Prescription +</h1>
    <p class="lead">Keep your prescriptions safe and accessable </p>
  </div>
</div>

  <div class="container">
      <div class="card-deck">
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "search 4x" %>
        <h5 class="card-title">Search</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, a voluptatem assumenda doloribus fugit magni.</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "plus-circle 4x" %>
        <h5 class="card-title">Create</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi eveniet necessitatibus aspernatur modi veniam.</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "pencil 4x" %>
        <h5 class="card-title">Update</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Et quasi eveniet necessitatibus aspernatur modi veniam. </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center p-5">
  <h3>Title</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nulla illum repellat maxime unde natus, sed, ex dolores nisi ut deleniti sequi sapiente dicta in a distinctio aut delectus tenetur repudiandae ducimus possimus necessitatibus velit laudantium quia. Ex, debitis eveniet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore molestiae modi eos assumenda quam alias error totam sed odio et.</p>
  <% if !user_signed_in? %>
    <%= link_to(new_user_registration_path) do %>
    <button type="button" class="btn btn-primary">Sign Up</button>
    <% end %>
  <% end %>
</div>

