<div class="jumbotron jumbotron-fluid index">
  <div class="container">
    <h1 class="display-4">Prescription +</h1>
    <p class="lead">Keep your prescriptions safe and accessable </p>
  </div>
</div>

  <div class="container">
      <div class="card-deck">
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "search 4x" %>
        <h5 class="card-title">Search</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, a voluptatem assumenda doloribus fugit magni.</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "plus-circle 4x" %>
        <h5 class="card-title">Create</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi eveniet necessitatibus aspernatur modi veniam.</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
      <%= fa_icon "pencil 4x" %>
        <h5 class="card-title">Update</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat numquam recusandae consequuntur temporibus</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center p-5">
  <h3>Title</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est, ducimus nobis accusantium quasi repudiandae?</p>
  <button type="button" class="btn btn-primary">Sign Up</button>
</div>

